AuthLoginModule
{
  	com.ah.ws.rest.server.auth.modules.DBLoginModule required
	auth_table="hmservicessettings"
  	username_col="apiusername"
  	username_default="admin"
	secretkey_col="apipassword"
	principal_col=""
	alternate=true
	alternate_key="rest.key"
	alternate_principal="rest.principal"
	alternate_file="/etc/secretkeys";
};